:root {
	--blurple: #7289da;
	--green: #43b581;
	--gray: #4f545c;
	--red: #f04747;
}

/* Main */
html {
	text-rendering: optimizeLegibility;
}
body {
	background-color: #36393f;
	scroll-behavior: smooth;
	margin-top: 62px;
	line-height: 1.5;
}
footer {
	background-color: #2f3136;
	height: 100px;
}

#title::after {
	content: "BETA";
	font-size: 10px;
	color: #fff;
	background-color: #7289da;
	border-radius: 3px;
	padding: 3px;
	font-family: whitney;
	font-weight: 700;
}

button {
	margin-left: 650px;
}
.buttonContainer {
	width: 1px;
}
body .container {
	width: auto;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: 200px;
}
#main-nav .container {
	display: flex;
}

.card {
	overflow-wrap: break-word;
	width: fit-content;
	max-width: 900px;
	margin-left: 300px;
	padding: 10px 10px;
	background-color: #7289da1c;
	border: 1px solid #7289da;
	border-radius: 5px;
}
.card > p,
.card >h5,
.card >h4,
.card >h3 {
	margin: 0px;
}

#cardYlw {
	background: #e1931736;
	border: 1px solid #faa61a;
}
#cardGray {
	background: #2022254d;
	border: 1px solid #202225;
}

li {
	list-style: disc;
	font-family: Whitney, sans-serif;
}
#logo {
	transition: 0.2s;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "discord";
	color: #dcdcde;
	font-weight: 700;
	text-align: left;

	justify-content: center;
}
a {
	color: #7b95f1;
	font-family: "Whitney", sans-serif;
	font-weight: 600;
	text-decoration: none;
		font-size: 18px;

}
a:hover {
	text-decoration: underline;
}
p,
li {
	font-family: Whitney, sans-serif;
	font-size: 18px;
	color: #e7ebf0;
	text-decoration: none;
	font-weight: 400;
	margin-left: 30px;
	justify-content: center;
	display: justify;
}
.hrlol {
	margin: 0px;
	height: 2px;
	width: 175px;
	background: #42454a;
	border: 0;
	margin: 0;
}
hr {
	margin: 0;
	height: 2px;
	border: 0;
	background: #4d5057;
}
#cmds {
	font-family: Whitney, sans-serif;
	color: #7289da;
	font-weight: 500;
}
/* Buttons*/
.btn {
	background-color: var(--blurple);
	border-style: hidden;
	height: auto;
	min-height: 30px;
	width: fit-content;
	max-width: 200px;
	transition: 0.2s;
	border-radius: 4px;
	padding: 2px 16px;
	font-family: Whitney, sans-serif;
	font-weight: 500;
	font-size: larger;
	color: #ffffff;
	text-decoration: none;
	position: relative;
	display: block;
	font-size: larger;
	opacity: 1;
	align-items: center;
}
.btn:hover {
	border-style: hidden;
	transition: 0.2s;
	cursor: pointer;
	background-color: #677bc4;
}

.btn:active {
	border-style: hidden;
	transition: 0.2s;
	cursor: pointer;
	background-color: #5b6eae;
}
#greenbtn {
	background-color: var(--green);
}
#greenbtn:hover {
	background-color: #3ca374;
}
#greenbtn:active {
	background-color: #369167;
}
#graybtn {
	background-color: var(--gray);
}
#graybtn:hover {
	opacity: 1;
	background-color: #5d6269;
}
#graybtn:active {
	background-color: #72767d;
}
#redbtn {
	background-color: var(--red);
}
#redbtn:hover {
	background-color: #d84040;
}
#redbtn:active {
	background-color: #c03939;
}

/* Header */
header {
	width: 100%;
	height: 49px;
	position: fixed;
	top: 0;
	left: 0;
	background: #292b2f;
	z-index: 1;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(32, 34, 37, 0.6);
}
#logo {
	width: 50px;
	float: left;
	margin: 5px 0 0 25px;
}
#logo:hover {
	opacity: 0.8;
}
#logo img {
	width: 100%;
	height: 45px;
	border-radius: 10px;
}

header nav ul li:hover {
	opacity: 0.8;
}
header nav ul li {
	transition: 0.2s;
	display: flex;
	margin-left: 16px;
}
header nav ul {
	display: flex;
	line-height: normal;
}
header h1 {
	font-size: 25px;
	margin-left: -130px;
	margin-top: 7px;
}
/* Main*/
#copyright {
	text-align: center;
}
.moyaiu_title {
	margin-top: 20px;
	font-size: 150px;
	text-align: center;
	margin: 0px;
	font-family: "discord";
	font-weight: 100;
}

#moyaiu_subtitle {
	font-size: 30px;
	margin-top: 0px;
	text-align: center;
	font-family: "discord";
	font-weight: 100;
}
.website_title {
	font-size: 25px;
}
#invitelink {
	text-align: center;
	margin-bottom: -25px;
	color: var(--blurple);
	font-family: "discord";
}

#defaultSep {
	margin: 0;
	height: 2px;
	border: 0;
	background: #42454a;
}

.servers {
	height: 900px;
	width: 50px;
}
/* Emotes */
img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 0.05em 0 0.1em;
	vertical-align: -0.1em;
	cursor: text;
}
/* Fonts*/
@font-face {
	font-family: "discord";
	src: url("/fonts/discord.woff2") format("woff2"),
		url("/fonts/discord.woff") format("woff");
	font-style: normal;
}
* {
	font-weight: 400;
}
@font-face {
	font-family: "Uni Sans Heavy";
	src: url("/fonts/title.woff2") format("woff2"),
		url("/fonts/title.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Whitney";
	font-weight: 300;
	src: url(https://moyaiu.github.io/OldCord/src/assets/thin.woff2)
		format("woff2");
}
@font-face {
	font-family: "Whitney";
	src: url(https://moyaiu.github.io/OldCord/src/assets/normal.woff2);
}
@font-face {
	font-weight: 500;
	font-family: "Whitney";
	src: url(https://moyaiu.github.io/OldCord/src/assets/kindaBold.woff2);
}
@font-face {
	font-family: "Whitney";
	font-weight: 600;
	src: url(https://moyaiu.github.io/OldCord/src/assets/bold.woff2)
		format("woff2");
}
@font-face {
	font-weight: 700;
	font-family: "Whitney";
	src: url(https://moyaiu.github.io/OldCord/src/assets/veryBold.woff2);
}


/* Responsive*/
@media screen and (max-width: 1000px) {
	body .container {
		width: auto;
		padding-right: 15px;
		padding-left: 5px;
		margin-right: auto;
		margin-left: 20px;
	}

	html,
	body {
		margin-top: 50px !important;
	}
	header {
		width: 100% !important;
		height: 100px;
		position: fixed;
		top: 0;
		left: 0;
		background: #292b2f;

		font-size: 20px;
	}

	#greenbtn {
		margin-left: 10%;
		background-color: var(--green);
	}

	header nav ul li:hover {
		opacity: 0.8;
	}
	header nav ul li {
		transition: 0.2s;
		display: flex;
		margin-left: 16px;
	}
	header nav ul {
		display: flex;
		line-height: normal;
	}
	header h1 {
		display: none;
	}
	#logo{
		margin: 0;
		border-radius: 500px;
	}
	#logo img {
		margin-top: 5px;
		width: 100px;
		height: 90px !important;
		border-radius: 10px;
	}
	header h1::after {
		position: absolute;
		margin-top: 20px;
	}

	#main-nav {
		font-size: 10px;
		text-decoration: none;
	}

	h3 {
		padding-top: 3px;
	}

	header a {
		font-size: 30px;
	}
	header h1 {
		font-size: 30px;
	}
	h1 {
		font-size: 70px;
	}
	p,
	a,
	li {
		font-size: 50px !important;
	}
	html,
	body {
		margin: 3px;
		padding: 0;
		background-color: #000000;
	}
	.btn {
		background-color: var(--blurple);
		border-style: hidden;
		height: auto;
		min-height: 90px;
		width: 300px !important;
		max-width: none !important;
		transition: 0.2s;
		border-radius: 4px;
		padding: 2px 16px;
		font-family: Whitney, sans-serif;
		font-weight: 500;
		font-size: larger;
		color: #ffffff;
		text-decoration: none;
		display: grid;
		text-align: center;
		font-size: larger;
		opacity: 1;
	}
}

/**Scrollbar*/

/* width */
::-webkit-scrollbar {
	width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #2e3338;
	border-radius: 10px;
	margin-right: 69px;
	border: solid 3px #2e3338;
	padding-right: 17px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #202225;
	border-radius: 9999px;
	max-height: 20px;
	padding-right: 17px;
}
/**selection*/
::selection {
	background-color: #7289da;
	color: #fff;
}
strong {
	font-weight: 600;
}
